/* =========================================================
   BUTTONS
========================================================= */

.btn {
    width: 100%;
    padding: 13px 22px;

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;

    background: #0D9738;
    border: none;
    border-radius: 20px;

    cursor: pointer;
    transition: background .25s ease, opacity .25s ease;
}



.btn:hover {
    opacity: .85;
}

.btn-outline {
    width: 100%;
    padding: 13px 22px;

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    background: transparent;
    color: #0D9738;

    border: 2px solid #0D9738;
    border-radius: 20px;

    cursor: pointer;
    transition: background .25s ease, color .25s ease;
}

.btn-outline:hover {
    background: rgba(1, 171, 128, 0.10);
}

.btn-outline-icon {
    width: 100%;
    padding: 13px 22px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;

    background: transparent;
    color: #0D9738;

    border: 2px solid #0D9738;
    border-radius: 20px;

    cursor: pointer;
    transition: background .25s ease;
}

.btn-outline-icon img {
    width: 15px;
    height: 15px;
    transition: transform .25s ease;
}

.btn-outline-icon:hover img {
    transform: rotate(45deg);
}

.btn-outline-icon:hover {
    background: rgba(1, 171, 128, 0.10);
}

.btn-underline {
    width: 100%;
    padding: 13px 0;

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;

    background: transparent;
    text-align: left;
    color: #0D9738;

    border: none;
    border-bottom: 2px solid #0D9738;
    border-radius: 0;

    cursor: pointer;
    transition: opacity .25s ease, padding-left .25s ease;
}

.btn-underline:hover {
    opacity: .8;
    padding-left: 4px;
}

@media (max-width: 600px) {
    .btn,
    .btn-outline,
    .btn-outline-icon,
    .btn-underline {
        font-size: 14px;
        padding: 12px 18px;
        border-radius: 16px;
    }

    .btn-outline-icon img {
        width: 18px;
        height: 18px;
    }

    .btn-underline {
    font-size: 14px;
    padding: 12px 0;
    border-radius: 0;
}
}
