/* =========================================================
   FOOTER
========================================================= */

.footer {
  width: 100%;
  background: #fff;
  padding: 20px 0;
  border-top: 1px solid var(--color-border);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left {
  max-width: 270px;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  font-weight: 600;
  line-height: 22px;

  color: var(--color-two);
}


.footer__logo-icon {
  width: 46px;
  height: 46px;
  object-fit: contain;
}

.footer__desc {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.8);
}

.footer__right {
  text-align: right;
}

.footer__authors {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
  line-height: 25px;
}

.footer__links {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.footer__links a {
  position: relative;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.8);
  transition: all 0.25s ease;
  padding-bottom: 2px;
}

.footer__links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;

  background: #0D9738;
  border-radius: 2px;

  transition: width 0.25s ease;
}

.footer__links a:hover {
  opacity: 1;
  color: #0D9738;
}

.footer__links a:hover::after {
  width: 100%;
}

@media (max-width: 900px) {
  .footer__inner {
    flex-direction: column;
    gap: 24px;
  }

  .footer__right {
    text-align: left;
  }

  .footer__links {
    flex-wrap: wrap;
  }
}

