<footer class="footer">
  <div class="container footer__inner">

    <div class="footer__left">

      <a href="/" class="footer__logo">
        <img src="{{ url_for('static', filename='img/icons/Logo-footer.svg') }}" alt="logo" class="footer__logo-icon">
        <span>another team</span>
      </a>

      <p class="footer__desc">
       another team - это команда разработчиков Digital Challenge 2025. Создаём сервис умного расписания для студентов и вузов.
      </p>

    </div>

    <div class="footer__right">
      <p class="footer__authors">by zeydulaev | adrkaaa</p>

      <div class="footer__links">
        <a href="/schedule">Расписание</a>
      </div>
    </div>

  </div>
</footer>
