<header class="header">
  <div class="container header__inner">

    <button class="burger" aria-label="Open menu">
        <img src="{{ url_for('static', filename='img/icons/burger.svg') }}" alt="menu">
    </button>

    <a href="/" class="header__logo">
        <img src="{{ url_for('static', filename='img/icons/Logo.svg') }}" class="logo-main">

        <span class="logo-divider"></span>

        <img src="{{ url_for('static', filename='img/icons/surgu.svg') }}" class="logo-surgu">
    </a>

    <nav class="header__nav">
      <a href="/schedule" class="nav__item">Расписание</a>
      {% if current_user and current_user.role and current_user.role.value == 'admin' and (current_user.username == 'adrkaaa' or current_user.email == 'adrkaaa') %}
      <a href="/admin/schedule" class="nav__item">Админ</a>
      {% endif %}
    </nav>

<div class="header__actions">

    {% if not current_user %}
        <a href="/register" class="header-btn header-btn--outline">Регистрация</a>
        <a href="/login" class="header-btn header-btn--filled">Вход</a>

    {% else %}

        <div class="profile-wrapper">

            <div class="profile-btn" id="profileBtn">
                <div class="profile-btn__avatar">
                    <img src="{{ url_for('static', filename='img/profile/default.png') }}">
                </div>
                <span class="profile-btn__name">{{ current_user.username }}</span>
                <img class="profile-btn__arrow"
                    src="{{ url_for('static', filename='img/icons/arrow.svg') }}">
            </div>

            <div class="profile-menu" id="profileMenu">
                <a href="/profile" class="profile-menu__item">
                    <img src="{{ url_for('static', filename='img/icons/profile.svg') }}">
                    Профиль
                </a>

                <a href="/auth/logout" class="profile-menu__item exit">
                    <img src="{{ url_for('static', filename='img/icons/logout.svg') }}">
                    Выйти
                </a>
            </div>

        </div>

    {% endif %}

</div>







  </div>
</header>

<div class="mobile-menu">
    <nav class="mobile-menu__nav">
        <a href="/schedule" class="mobile-menu__item">Расписание</a>
        {% if current_user and current_user.role and current_user.role.value == 'admin' and (current_user.username == 'adrkaaa' or current_user.email == 'adrkaaa') %}
        <a href="/admin" class="mobile-menu__item">Админ</a>
        {% endif %}
    </nav>
</div>
